.smallCarousel {
  width: 35%;
  margin-left: 32%;
}
.galleryHeading {
  margin-left: 0%;
  margin-bottom: 2%;
  display: inline-block;
  width: 50%;
}

/* #gallery {
  position: fixed;
  text-align: center;
  height: 100%;
} */
