#estimateDetail {
  width: 500px;
  border: solid 2px red;
  float: right;
  
  background-color: #82ad40;
}
#estimateForm {
 float: left;
  width: 500px;
  border: solid 2px red;
  
}
#estimateFloatClear {
  clear: both;
}
#esContainer {
  border: solid 2px red;
  
  background-color: #82ad40;

}
.estimateFormClass {
  display: grid;
  line-height: 2;
  
}
