body {
  background-color: #82ad40
  ;
  /* background: url(seattle.jpg); */

  padding: 20px;
  margin: 0;
}
ol ul {
  list-style: none!important;
}
h1, h2, p, ul, li, a, {
  font-family: sans-serif;
  color: #82ad40;
}
h1 {
  font-size: 4em;
  color: black;
  

  }
h3 {
  font-size: 2em;
  color: black;
}
p  a {
  font-size: 1.5em;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #81807d;
  padding: 0;
}
ul.header li a {
  font-size: 2em;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #81807d;
  padding: 20px;
  border: dashed 2px red;
}
.content h2 {
  font-size: 4em;
  padding: 0;
  /* margin: 0; */
}
.content li {
  margin-bottom: 10px;
}
/* .active {
  background-color: greenyellow;
} */
ul.header li a.active {
  background-color: #82ad40;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}



.review div {
  padding-top: 20px;
}

.bannerPic {
  height: 200px;
  width: 100%;
  background: url(seattle.jpg);
  background-repeat: no-repeat;
  float: right;
  

}
.smallCarousel {
  width: 35%;
  margin-left: 30%;
}
.galleryHeading {
  margin-left: 40%;
  margin-bottom: 2%;
}